.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  gap: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.data {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  line-height: 0;
}
.icon {
  color: #000;
}
